body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#transcription {
    text-align: center;
    font-size: 50px;
    opacity: 0;
    transition: opacity 1s;
    word-wrap: break-word;
    max-width: 90vw;
}

#message {
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: gray;
    opacity: 1;
    transition: opacity 1s;
}

#menu {
    position: absolute;
       bottom: 10%;
    font-size: 40px;
    opacity: 0;
    transition: opacity 1s;
    color: white; /* Ensure readability */
}

.visible {
    opacity: 1 !important;
}

.rainbow-text {
    position: relative;
    color: white;
}

.rainbow-text::before {
    content: '';
    position: absolute;
    top: -30px;  /* Position above the text */
    left: 0;
    width: 100%;
    height: 30px;
    color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    animation: rainbow-shift 2s infinite;  /* Continuous rainbow shift animation */
}

@keyframes rainbow-shift {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

